.heroAbout {
  background-image: var(--hero-about-gradient-top),
    var(--hero-about-gradient-left),
    image-set(
      url('/images/aboutHero/about-hero-bg-mob@1x.webp') 1x,
      url('/images/aboutHero/about-hero-bg-mob@2x.webp') 2x
    );
  background-size:
    100% 40%,
    80% 100%,
    cover;
  background-position:
    top,
    left,
    top center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .heroAbout {
    background-image: var(--hero-about-gradient-top),
      var(--hero-about-gradient-left),
      image-set(
        url('/images/aboutHero/about-hero-bg-tab@1x.webp') 1x,
        url('/images/aboutHero/about-hero-bg-tab@2x.webp') 2x
      );
    background-size:
      100% 30%,
      60% 100%,
      cover;
  }
}

@media (min-width: 1280px) {
  .heroAbout {
    background-image: var(--hero-about-gradient-top),
      var(--hero-about-gradient-left),
      image-set(
        url('/images/aboutHero/about-hero-bg-desk@1x.webp') 1x,
        url('/images/aboutHero/about-hero-bg-desk@2x.webp') 2x
      );
    background-size:
      1440px 20%,
      1440px 100%,
      1440px auto;
    background-position: top center;
  }
}

.description {
  &::before {
    content: url('/icons/arrowDown.svg');
    width: 36px;
    height: 36px;
    position: absolute;
    top: 5px;
    left: -51px;
  }
}
