@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Main Hero */
  --hero-gradient-top: linear-gradient(
    180deg,
    rgba(25, 34, 26, 0.47) 0%,
    rgba(25, 34, 26, 0) 100%
  );
  --hero-gradient-left: linear-gradient(
    90deg,
    rgba(25, 34, 26, 0.55) 0%,
    rgba(25, 34, 26, 0) 100%
  );
  /* Donation */
  --donation-overlay: linear-gradient(
    rgba(25, 34, 26, 0.48),
    rgba(25, 34, 26, 0.48)
  );
}

@layer base {
  body {
    @apply bg-bgWhite font-eukraine text-caption_desk font-normal text-green;
  }
}

@layer utilities {
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .title {
    @apply font-kyiv text-h1 font-bold uppercase text-bgText md:text-h1_tab xl:text-h1_desk;
  }

  .subtitle {
    @apply font-kyiv text-h2 font-bold md:text-h2_tab xl:text-h2_desk;
  }

  .paragraph {
    @apply text-body4 tracking-[-0.14px] text-darkGrey;
  }
}