.partnersList {
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 40px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.partnerCard {
    scroll-snap-align: start;
    flex: 0 0 auto;
}

.partnersList::-webkit-scrollbar {
    height: 5px;
}

.partnersList::-webkit-scrollbar-thumb {
    background-color: #1A341B;
    border-radius: 15px;
}

.partnersList::-webkit-scrollbar-track {
    background-color: #F3EFE9;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .partnersList {
        overflow-x: visible;
        scroll-snap-type: none;
        padding: 0;
    }
}